:root {
  --background-color: #1c1c1c;
  --dark-background-color: #151515;
  --muted-color: #c0c1c7;
  --body-color: #8e919b;
  --border-color: #424244;
  --success-color: #2a9e55;
  --spacing-unit: 8px;
}

body {
  background-color: var(--background-color);
  color: var(--body-color);
  font-family: 'Fira Mono', monospace;
  margin: 0;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  
}

h1, h2, h3 {
  color: var(--body-color);
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
  margin-top: var(--spacing-unit);
  margin-bottom: var(--spacing-unit);
}

h3 {
  font-size: 1.2em;
  margin-top: var(--spacing-unit * 1.5);
  margin-bottom: var(--spacing-unit / 2);
}

p {
  margin-bottom: var(--spacing-unit);
  color: var(--muted-color)
}

a {
  margin-top: var(--spacing-unit);
  margin-left: var(--spacing-unit);
  color: var(--muted-color);
  text-decoration: none;
}
li a {
  margin-bottom: var(--spacing-unit);
}
a:hover {
  text-decoration: underline;
}

ul {
  list-style-type: none;
  padding: 0;
  margin-bottom: 0px;
}

ul li {
  display: inline-block;
  padding: 0px;
}

.hyd-buttn{
  padding: var(--spacing-unit);
  display: inline-flex;
  border: 1px solid var(--border-color);
  border-Radius: 8px;
  background-color: var(--dark-background-color);
}
.hyd-buttn:hover {
  background-color: var(--border-color);
}

.hydra-b {
  box-shadow: 0px 0px 15px 0px #000000;
  overflow: hidden;
  border-radius: 4px;
  border: solid 1px #424244;
  padding: 16px;
  background-color: var(--background-color);
  max-width: 900px;
}